*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 150px;
  grid-template-areas:
    "header header"
    "nav sidebar"
    "content sidebar"
    "footer footer";
}

.header {
  grid-area: header;
  background-color: #069;
  padding: 24px;
  font-size: 24px;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
}

.nav {
  grid-area: nav;
  background-color: #069;
  color: white;
  font-size: 18px;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  padding: 16px;
}

.sidebar {
  grid-area: sidebar;
  padding: 8px;
  color: white;
  background-color: darkblue;
}

.content {
  grid-area: content;
  margin: 1rem;
}

.title {
  padding-bottom: 8px;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: white;
  background-color: #069;
  padding: 0.5rem;
}
